@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .slow-spin {
    animation: spin 10s linear infinite; /* Adjust the duration (10s) as needed */
  }

  .stop-spin:hover {
    animation-play-state: paused;
  }

  @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url('./assets/fonts/font.ttf') format('truetype');
  }

  .my-text {
    font-family: 'MyFont', sans-serif;
  }